BACKEND_ADDRESS=0.0.0.0 # address of backend for backend container
BACKEND_PORT=56234 # port of backend application in backend container

BACKEND_SHOW_SQL=true # hibernate sql
BACKEND_FORMAT_SQL=true # hibernate sql formatting
BACKEND_LOGGING_LEVEL=DEBUG # logging level for spring framework

BACKEND_JWT_SECRET=JWT SECRET # secret for jwt signing

BACKEND_CERTIFICATE_PASSWORD=cert-pass # password for self-signed certificate

POSTGRES_DB=amina_db # pg database name
POSTGRES_PASSWORD=amina_password # pg database owner password
POSTGRES_USER=amina_user # pg database owner name
POSTGRES_PORT=43121 # pg database port for db container
