BACKEND_ADDRESS=0.0.0.0
BACKEND_CERTIFICATE_PASSWORD= # your password for backend cerificates
BACKEND_FORMAT_SQL=true # SQL formatting for hibernate
BACKEND_JWT_SECRET= # JWT signing secret
BACKEND_LOGGING_LEVEL=DEBUG # logs configuration
BACKEND_PORT=56234 # external port for host
BACKEND_SHOW_SQL=true # SQL showing for hibernate

POSTGRES_DB=amina_db # pg database name
POSTGRES_PASSWORD=amina_password # pg database owner password
POSTGRES_USER=amina_user # pg database owner name
POSTGRES_PORT=43121 # pg database port for db container

S3_ADDRESS=192.168.0.10 # external address for frontend
S3_SERVER_PORT=43122 # external port for frontend
S3_CONSOLE_PORT=9001 # external port for s3 configuring
S3_ROOT_USER= # credentials for s3 console
S3_ROOT_PASSWORD= # credentials for s3 console
S3_ACCESS_KEY= # credentials for backend to use s3
S3_SECRET_KEY= # credentials for backend to use s3
S3_BUCKET=amina-data # name of s3 bucket